body {
  margin: 0;
}

header {
  width: 100%;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
}

.headerLogo {
  max-height: 100px;
}

.headerInner {
  max-width: 1280px;
  width: 100%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerInner,.mainInner {
  width: auto;
  max-width: 900px;
  min-width: 250px;
  margin: auto;
  padding: 0 20px;
}

.contents {
  background-color: #fcfcfc;
  padding: 0.3em 0.3em 0.3em 2em;
  border: solid 3px gray;
  width: 40%;
  min-width: 150px;
  margin-top: 4em;
  margin-bottom: 1em;
}

.contents_list {
  line-height: 1.5;
  padding: 0.5em 1;
}

.mainInner_main {
  float: left;
  margin-bottom: 4em;
  max-width: 80%;
}

.changeLog {
  clear: both;
}

.textTitle {
  line-height: 200%;
}

.text {
  line-height: 70%;
}

#changelog {
  width: 800px;
  min-width: 50%;
  max-width: 80%;
  height: 500px;
  min-height: 20%;
}

footer {
  clear: both;
  background: #efefef;
}

.footerInner {
  text-align: center;
  margin-top: 50px;
  padding: 30px;
}
